<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2 class="">
        Feature title
      </h2>
      <h3 class="">
        A more descriptive sub heading.
      </h3>
      <p class="">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p><a href="index.html" class="btn  btn-d  btn-lg">Watch Demo</a>
    </div>
    <div class="col-sm-6">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
    </div>
  </div>
</div>
