<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="text-center">
        <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
      </div>
      <h3 class="text-center">
        Feature
      </h3>
      <p class="text-center">
        Ethical disrupt kitsch meditation, wayfarers plaid cray tilde cornhole paleo PBR try-hard.
      </p>
    </div>
    <div class="col-sm-3">
      <div class="text-center">
        <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
      </div>
      <h3 class="text-center">
        Feature
      </h3>
      <p class="text-center">
        Ethical disrupt kitsch meditation, wayfarers plaid cray tilde cornhole paleo PBR try-hard.
      </p>
    </div>
    <div class="col-sm-3">
      <div class="text-center">
        <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
      </div>
      <h3 class="text-center">
        Feature
      </h3>
      <p class="text-center">
        Ethical disrupt kitsch meditation, wayfarers plaid cray tilde cornhole paleo PBR try-hard.
      </p>
    </div>
    <div class="col-sm-3">
      <div class="text-center">
        <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
      </div>
      <h3 class="text-center">
        Feature
      </h3>
      <p class="text-center">
        Ethical disrupt kitsch meditation, wayfarers plaid cray tilde cornhole paleo PBR try-hard.
      </p>
    </div>
  </div>
</div>

