<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        Product Features
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-9">
        <h3 class="text-right">
          Beautiful
        </h3>
        <p class="text-right">
          A little feature description could go here. A little feature description could go here.
        </p>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-heart icon-round icon-md"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-rocket icon-round icon-md"></span>
        </div>
      </div>
      <div class="col-sm-9">
        <h3 class="">
          Responsive
        </h3>
        <p>
          A little feature description could go here.A little feature description could go here.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-9">
        <h3 class="text-right">
          Clean
        </h3>
        <p class="text-right">
          A little feature description could go here.A little feature description could go here.
        </p>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-code icon-round icon-md"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-tasks icon-round icon-md"></span>
        </div>
      </div>
      <div class="col-sm-9">
        <h3 class="">
          Optimized
        </h3>
        <p>
          A little feature description could go here.A little feature description could go here.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-9">
        <h3 class="text-right">
          Editable
        </h3>
        <p class="text-right">
          A little feature description could go here.A little feature description could go here.
        </p>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-pencil icon-round icon-md"></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-3">
        <div class="text-center">
          <span class="fa fa-star icon-round icon-md"></span>
        </div>
      </div>
      <div class="col-sm-9">
        <h3 class="">
          Friendly
        </h3>
        <p>
          A little feature description could go here.A little feature description could go here.
        </p>
      </div>
    </div>
  </div>
</div>
