<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="text-center">
        <span class="fa fa-heart icon-round icon-md"></span>
      </div>
      <h3 class="text-center">
        Beautiful
      </h3>
      <p class="text-center">
        A little feature description could go here. A little feature description.
      </p>
    </div>
    <div class="col-sm-3">
      <div class="text-center">
        <span class="fa fa-rocket icon-round icon-md"></span>
      </div>
      <h3 class="text-center">
        Responsive
      </h3>
      <p class="text-center">
        A little feature description could go here. A little feature description.
      </p>
    </div>
    <div class="col-sm-3">
      <div class="text-center">
        <span class="fa fa-code icon-round icon-md"></span>
      </div>
      <h3 class="text-center mg-md">
        Clean
      </h3>
      <p class="text-center">
        A little feature description could go here. A little feature description.
      </p>
    </div>
    <div class="col-sm-3">
      <div class="text-center">
        <span class="fa fa-tasks icon-round icon-md"></span>
      </div>
      <h3 class="text-center mg-md">
        Optimized
      </h3>
      <p class="text-center">
        A little feature description could go here. A little feature description.
      </p>
    </div>
  </div>
</div>

