<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        Product Features
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-9">
        <h3 class="text-right">
          Feature
        </h3>
        <p class="text-right">
          Important
        </p>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-3">
        <div class="text-center">
          <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
        </div>
      </div>
      <div class="col-sm-9">
        <h3 class="text-left">
          Feature
        </h3>
        <p class="text-left">
          Important
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-9">
        <h3 class="text-right">
          Feature
        </h3>
        <p class="text-right">
          Important
        </p>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-3">
        <div class="text-center">
          <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
        </div>
      </div>
      <div class="col-sm-9">
        <h3 class="text-left">
          Feature
        </h3>
        <p class="text-left">
          Important
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-9">
        <h3 class="text-right">
          Feature
        </h3>
        <p class="text-right">
          Important
        </p>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-3">
        <div class="text-center">
          <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
        </div>
      </div>
      <div class="col-sm-9">
        <h3 class="text-left">
          Feature
        </h3>
        <p class="text-left">
          Important
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="col-sm-9">
        <h3 class="text-right">
          Feature
        </h3>
        <p class="text-right">
          Important
        </p>
      </div>
      <div class="col-sm-3">
        <div class="text-center">
          <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-3">
        <div class="text-center">
          <img src="https://placeimg.com/640/480/arch/grayscale" class="img-responsive" alt='' />
        </div>
      </div>
      <div class="col-sm-9">
        <h3 class="text-left">
          Feature
        </h3>
        <p class="text-left">
          Important
        </p>
      </div>
    </div>
  </div>
</div>
