<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img src="https://placeimg.com/640/480/tech/grayscale" class="img-responsive" alt='' />
    </div>
    <div class="col-sm-6">
      <h2>
        Feature title
      </h2>
      <h3>
        A more descriptive sub heading.
      </h3>
      <p>
        Deep v keffiyeh pork belly ennui Shoreditch, you probably haven't heard of them DIY Etsy readymade American Apparel retro kale chips typewriter Tumblr. Cliche Blue Bottle butcher flexitarian. Pickled Williamsburg YOLO whatever street art direct trade organic raw denim, Helvetica pop-up authentic mlkshk. Slow-carb cred put a bird on it lomo. Schlitz cliche four dollar toast trust fund organic. Pickled semiotics letterpress literally, blog Williamsburg ennui scenester Banksy chambray stumptown. Brooklyn pop-up artisan readymade, aesthetic Truffaut cold-pressed chambray ethical tofu mumblecore listicle.
      </p>
      <a href="#" class="btn btn-primary btn-lg">Link</a>
    </div>
  </div>
</div>

