<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>
        Feature title
      </h2>
      <h3>
        A more descriptive sub heading.
      </h3>
      <p>
        Fanny pack chia PBR&B plaid scenester farm-to-table, Pitchfork 3 wolf moon. Master cleanse yr taxidermy deep v stumptown. Cold-pressed tofu fixie, forage skateboard flexitarian you probably haven't heard of them jean shorts craft beer cray letterpress listicle. Pickled stumptown single-origin coffee sustainable art party. Meggings flexitarian PBR mustache gluten-free, forage plaid. Trust fund slow-carb plaid, Bushwick pug lo-fi leggings health goth banjo blog scenester authentic. Neutra before they sold out +1 flexitarian migas Williamsburg, Schlitz Echo Park tofu twee heirloom ennui gastropub cred.
      </p>
      <a href="#" class="btn btn-primary btn-lg">Link</a>
    </div>
    <div class="col-sm-6">
      <img src="https://placeimg.com/640/480/tech/grayscale" class="img-responsive" alt='' />
    </div>
  </div>
</div>
