<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        Gallery
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
      </p>
    </div>
  </div>
</div>

