<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        Gallery
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/tech/grayscale" class="img-responsive" alt='' />
      <h3>
        Title goes here
      </h3>
      <p>
        Vice gluten-free Thundercats, synth ennui vegan stumptown scenester.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/tech/grayscale" class="img-responsive" alt='' />
      <h3>
        Title goes here
      </h3>
      <p>
        Vice gluten-free Thundercats, synth ennui vegan stumptown scenester.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/tech/grayscale" class="img-responsive" alt='' />
      <h3>
        Title goes here
      </h3>
      <p>
        Vice gluten-free Thundercats, synth ennui vegan stumptown scenester.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/tech/grayscale" class="img-responsive" alt='' />
      <h3>
        Title goes here
      </h3>
      <p>
        Vice gluten-free Thundercats, synth ennui vegan stumptown scenester.
      </p>
    </div>
  </div>
< <div class="row">
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/tech/grayscale" class="img-responsive" alt='' />
      <h3>
        Title goes here
      </h3>
      <p>
        Vice gluten-free Thundercats, synth ennui vegan stumptown scenester.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/tech/grayscale" class="img-responsive" alt='' />
      <h3>
        Title goes here
      </h3>
      <p>
        Vice gluten-free Thundercats, synth ennui vegan stumptown scenester.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/tech/grayscale" class="img-responsive" alt='' />
      <h3>
        Title goes here
      </h3>
      <p>
        Vice gluten-free Thundercats, synth ennui vegan stumptown scenester.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/tech/grayscale" class="img-responsive" alt='' />
      <h3>
        Title goes here
      </h3>
      <p>
        Vice gluten-free Thundercats, synth ennui vegan stumptown scenester.
      </p>
    </div>
  </div>
</div>

