<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        Gallery
      </h2>
      <p class="text-center sub-heading">
        Just a sample of what we do.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img src="imgs/placeholder-image-sq.png" class="img-responsive" alt='' />
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image-sq.png" class="img-responsive" alt='' />
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image-sq.png" class="img-responsive" alt='' />
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image-sq.png" class="img-responsive" alt='' />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img src="imgs/placeholder-image-sq.png" class="img-responsive" alt='' />
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image-sq.png" class="img-responsive" alt='' />
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image-sq.png" class="img-responsive" alt='' />
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image-sq.png" class="img-responsive" alt='' />
    </div>
  </div>
</div>

