<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>
    </div>
    <div class="col-sm-3">
      <img src="imgs/placeholder-image.png" class="img-responsive" alt='' />
      <h3 class="">
        Title goes here
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>
    </div>
  </div>
</div>
