<div class="text-center">
  <div class="">
    <h1 class="">Stop hand coding your next landing page</h1>
    <h3 class="">Start copying & pasting</h3>
    <a href="#" class="btn-wire btn btn-xl">Get Started</a>
    <a id="scroll-hero" class="btn-dwn"><span class="fa fa-chevron-down"></span></a>
  </div>
</div>

