<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>
        About
      </h3>
      <a href="#">The team</a>
      <a href="#">Contact us</a>
    </div>
    <div class="col-sm-3">
      <h3>
        Get the App
      </h3><a href="#">iPhone</a>
      <a href="#">Android</a>
    </div>
    <div class="col-sm-3">
      <h3>
        Follow us
      </h3>
      <a href="#">Twitter</a>
      <a href="#">Facebook</a>
    </div>
    <div class="col-sm-3">
      <h3>
        Company
      </h3>
      <a href="#">Terms of use</a>
      <a href="#">Privacy</a>
    </div>
  </div>
</div>
