<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <img src="https://placeimg.com/1000/700/tech/grayscale" class="img-responsive" alt='' />
        <h3>
          A Standard Post
        </h3>
        <p>
          Flannel locavore street art hella, jean shorts iPhone art party lumbersexual narwhal Shoreditch kitsch dreamcatcher. Fixie mlkshk Banksy, pug sartorial gastropub ennui pour-over keytar actually. Fingerstache pop-up McSweeney's pug scenester seitan. Meh ugh four loko, McSweeney's food truck photo booth Schlitz drinking vinegar 8-bit mlkshk American Apparel vegan 3 wolf moon. Put a bird on it pop-up tofu DIY four loko listicle. Mlkshk vegan fap Wes Anderson actually Marfa. Marfa typewriter wayfarers gentrify pork belly, farm-to-table Godard gluten-free cronut cold-pressed Pitchfork meggings skateboard.
        </p>
      </div>
    </div>
  </div>
</div>
