<div class="container">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h3 class="text-center ">
      <i>"Good design is making something intelligible and memorable. Great design is making something memorable and meaningful."</i>
    </h3>
    <p class="text-center">
      <strong>Dieter Rams</strong>
    </p>
  </div>
</div>

