<div class="container">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h3 class="text-center">
      <i>
        "Something something"
      </i>
    </h3>
    <p class="text-center">
      <strong>That one person</strong>
    </p>
  </div>
</div>

