<div class="container">
  <div class="col-sm-2 col-md-offset-5">
    <img src="imgs/placeholder-user.png" class="img-responsive img-circle" alt='' />
  </div>
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h3 class="text-center ">
      <i>"Eventually everything connects - people, ideas, objects. The quality of the connections is the key to quality per se."</i>
    </h3>
    <p class="text-center">
      <strong>Charles Eames</strong>
    </p>
  </div>
</div>

