<div class="container">
  <div class="col-sm-2 col-md-offset-5">
    <img src="https://placeimg.com/640/480/people/grayscale" class="img-responsive img-circle" alt='' />
  </div>
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <h3 class="text-center">
      <i>
        "Something something"
      </i>
    </h3>
    <p class="text-center">
      <strong>That one person</strong>
    </p>
  </div>
</div>

