<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h3 class="">
        Enter your e-mail to get updates
      </h3>
    </div>
    <div class="col-sm-2">
      <a href="#" class="btn btn-primary btn-lg">Spam me</a>
    </div>
  </div>
</div>

