<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        Meet our team
      </h2>
      <p class="sub-heading text-center">
        We are a group of skilled individuals.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <img src="https://placeimg.com/640/480/people/grayscale" class="img-responsive img-rounded" alt='' />
    </div>
    <div class="col-sm-4">
      <h3>
        Person
      </h3>
      <p>
        DIY master cleanse Intelligentsia migas, Pitchfork pickled vinyl mustache raw denim fixie Bushwick.
      </p>
      <a href="#" target="_blank">
        <span class="fa fa-twitter icon-sm pull-left"></span>
      </a>
    </div>
     <div class="col-sm-2">
      <img src="https://placeimg.com/640/480/people/grayscale" class="img-responsive img-rounded" alt='' />
    </div>
    <div class="col-sm-4">
      <h3>
        Person
      </h3>
      <p>
        DIY master cleanse Intelligentsia migas, Pitchfork pickled vinyl mustache raw denim fixie Bushwick.
      </p>
      <a href="#" target="_blank">
        <span class="fa fa-twitter icon-sm pull-left"></span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <img src="https://placeimg.com/640/480/people/grayscale" class="img-responsive img-rounded" alt='' />
    </div>
    <div class="col-sm-4">
      <h3>
        Person
      </h3>
      <p>
        DIY master cleanse Intelligentsia migas, Pitchfork pickled vinyl mustache raw denim fixie Bushwick.
      </p>
      <a href="#" target="_blank">
        <span class="fa fa-twitter icon-sm pull-left"></span>
      </a>
    </div>
     <div class="col-sm-2">
      <img src="https://placeimg.com/640/480/people/grayscale" class="img-responsive img-rounded" alt='' />
    </div>
    <div class="col-sm-4">
      <h3>
        Person
      </h3>
      <p>
        DIY master cleanse Intelligentsia migas, Pitchfork pickled vinyl mustache raw denim fixie Bushwick.
      </p>
      <a href="#" target="_blank">
        <span class="fa fa-twitter icon-sm pull-left"></span>
      </a>
    </div>
  </div>
</div>

