<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">
        Meet our team
      </h2>
      <p class="sub-heading text-center">
        We are a group of skilled individuals.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/people/grayscale" class="img-responsive" alt='' />
      <h3 class="text-center">
        Person
      </h3>
      <p class="text-center">
        Developer
      </p>
    </div>
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/people/grayscale" class="img-responsive" alt='' />
      <h3 class="text-center">
        Person
      </h3>
      <p class="text-center">
        Developer
      </p>
    </div>
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/people/grayscale" class="img-responsive" alt='' />
      <h3 class="text-center">
        Person
      </h3>
      <p class="text-center">
        Developer
      </p>
    </div>
    <div class="col-sm-3">
      <img src="https://placeimg.com/640/480/people/grayscale" class="img-responsive" alt='' />
      <h3 class="text-center">
        Person
      </h3>
      <p class="text-center">
        Developer
      </p>
    </div>
  </div>
</div>

